@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

:root {
  --bg-color: #f3f5f6;
  --white: #fff;
  --black: #333;
  --active: #e6f4f1;

  --primary: #4fa9bc;
  --primary-light: #88ced8;
  --primary-dark: #0e0034;

  --blue: #6cc4d8;

  --blue-shade-1: #4fa9bc;
  --blue-shade-2: #248799;
  --blue-shade-3: #006678;
  --blue-shade-4: #004758;
  --blue-shade-5: #002a3a;

  --grey-1: #f9fafb;
  --grey-2: #f3f4f6;
  --grey-3: #e5e7eb;
  --grey-4: #d1d5db;
  --grey-5: #9ca3af;
  --grey-6: #6b7280;
  --grey-7: #4b5563;
  --grey-8: #374151;
  --grey-9: #1f2937;
  --grey-10: #111827;

  --purple-1: #ab94c3;
  --purple-2: #b18ed6;
  --purple-3: #7b6eac;
  --purple-4: #91558e;
  --purple-5: #76618d;

  --pink-1: #d483b7;
  --pink-2: #df80a1;

  --red-1: #9a3e65;
  --red-2: #812a00;

  --yellow-1: #eee8a9;
  --yellow-2: #a89f55;
  --yellow-3: #ffe9d0;
  --yellow-4: #f9f871;

  --green-1: #b9f185;
  --green-2: #8bf8b8;
  --green-3: #7fe49f;
  --green-4: #51d3b4;
  --green-5: #52bf83;
  --green-6: #78aa67;
  --green-7: #009b7a;
  --green-8: #028951;
  --green-9: #00674b;
  --green-10: #005e4e;

  --shadow: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--bg-color);
  color: var(--black);
  max-width: 100vw;
  overflow-x: hidden;
  word-wrap: break-word;
  flex-wrap: wrap;
}

.active {
  color: var(--active);
}

@keyframes btnAnimation {
  to {
    transform: translateX(100%) rotate(45deg);
  }
}
